body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background: linear-gradient(-45deg, #e94336,#4283f3, #00a150,#fabb08);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #333;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
}

main {
	margin-top: 20px;
}

footer {
	position: relative;
	bottom: 0;
	text-align: center;
	padding: 10px;
	background-color: #f2f2f2;
}

#current-time {
    background-color: #e94336; /* Green background color */
    color: white;
    padding: 10px;
    display: inline-block;
}