body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #333;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
}

main {
	margin-top: 20px;
}

.card-align {
	display: flex;
	justify-content: space-evenly;
}

.card {
	width: 10%;
	margin: 5px;
	padding: 5px;
	height: auto;
	background-color: rgba(0,0,0,0.2);
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: linear-gradient(-45deg, #e94336,#4283f3, #00a150,#fabb08);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  	transition: 0.3s; */
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

footer {
	position: relative;
	bottom: 0;
	text-align: center;
	padding: 10px;
	background-color: #f2f2f2;
}

#current-time {
    background-color: #e94336; /* Green background color */
    color: white;
    padding: 10px;
    display: inline-block;
}